# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Git
.git/
.gitignore

# Jupyter
.ipynb_checkpoints/

# Environment files
.env
.env.*

# ML artifacts & data
artifacts/
outputs/
logs/
checkpoints/

# Large files
*.csv
*.parquet
*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db

# Local scripts (Windows only)
run.bat